{% extends "layout_terms.html" %}
{% block content %}
    
<main role="main" class="p-2">
    <div class="main-container row">
        <h2 class="col-12 py-5">概要ページ</h2>
        <div class="col-md-6 pb-5">
            <h3>利用規約</h3>
            <p>#格言共有を利用される際に、同意して頂く利用規約を掲載しています。<br>
                #格言共有を利用する全てのユーザは、サービス利用時に同意して頂く規約があり、その内容をご説明します。</p>
            <a href="/terms/service">#格言共有の利用規約を読む</a>
        </div>
        <div class="col-md-6 pb-5">
            <h3>プライバシーポリシー</h3>
            <p>#格言共有が収集する情報、その情報の収集方法や利用方法について掲載しています。</p>
            <a href="/terms/policy">#格言共有のプライバシーポリシーを読む</a>
        </div>
        <div class="col-md-6 pb-5">
            <h3>よくある質問</h3>
            <p>#格言共有についてよく聞かれる質問についての質問と解答を掲載しています。</p>
            <a href="/terms/question">#格言共有のよくある質問を読む</a>
        </div>
    </div>
</main>

{% endblock %}
