{% extends "layout_terms.html" %}
{% block content %}
    
<main role="main" class="p-2">
    <div class="main-container">
        <h2 class="py-5">プライバシーポリシー</h2>

        <p>発行日　2022年3月18日</p>

        <h3 class="mt-5">個人情報の管理</h3>
        <p>#格言共有(以下「本サービス」)は個人情報の保護に努めて適切に管理し，利用者本人の了承がある場合を除き第三者に開示することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</p>

        <h3 class="mt-5">個人情報の収集</h3>
        <p>本サービスでは利用登録や本サービスのご利用によって利用者から自発的に提供されるメールアドレスなどの個人情報を収集します。 また，利用者が本サイトにアクセスするときの，IPアドレス，デバイスIDなどを特定の情報を受け取り，それらの情報を記録することがあります。</p>

        <h3 class="mt-5">Cookie等の利用</h3>
        <p>デバイスからログインに利用しているアカウントなど，利用者のデバイスの設定を記憶するために，Cookieやそれと類似の技術を使用します。</p>

        <p class="text-right m-5">以上</p>
    </div>
</main>

{% endblock %}
