{% extends "layout.html" %}
{% block content %}
    
    <main role="main" class="inner cover">
        <h1 class="cover-heading">パスワード再設定（コード送信）</h1>
        <p class="lead pb-5">
            このフォームではパスワードを初期化します。送信したメールアドレスに新しい再設定コードを送信します。
        </p>
        <form id="sendResetPasswordCodeForm" class="pb-5">
            <div class="form-group">
                <label class="form-label" for="loginId">メールアドレス</label>
                <input class="form-control" id="inputLoginId" type="email" name="loginId" required>
            </div>
            <input type="submit" value="送信">
        </form>
        <p><a href="/user/resetPassword">再設定コード送信はこちら</a></p>
        <p><a href="/user/singup">新規登録はこちら</a></p>
        <p><a href="/user/login">既に登録済みの方はこちら</a></p>
    </main>

    {% endblock %}
