{% extends "layout.html" %}
{% block content %}
    
    <main role="main" class="inner cover">
        <h3 class="cover-heading">プロフィール変更</h1>
        <div id="loadingSpinner" class="spinner-border text-light" role="status" style="display: inline-block;"></div>
        <div id="profileContainer" class="row" style="display: none">
            <div class="col-sm-6 col-md-4 pb-5">
                <p>ユーザID</p>
                <p id="userIdP"></p>
            </div>
            <div class="col-sm-6 col-md-4 pb-5">
                <p>メールアドレス</p>
                <p id="loginId"></p>
            </div>
            <form id="changeUserNameForm" class="col-sm-12 col-md-4 pb-5">
                <div class="form-group">
                    <label class="form-label" for="userName">ユーザ名: 20文字以下</label>
                    <input class="form-control" id="userName" type="text" name="userName" maxlength="20" required>
                </div>
                <input class="" type="submit" value="変更する">
            </form>
            <div class="container py-5">
                <h3>投稿したエピソード</h3>
                {% raw %}
                <div id="postEpisodeList" class="text-left row gx-5">
                    <div v-for="item in episodeList" class="py-3 col-sm-6 col-md-4 border border-white rounded">
                        <div class="border-bottom border-white">{{ item.title }}</div>
                        <div class="">{{ item.episode }}</div>
                        <div class="text-right">
                            <i @click="episodeEdit(item.adageId, item.title)" class="fa-regular fa-pen-to-square mr-5"></i>
                            <i @click="episodeDelete(item.adageId)" class="fa-regular fa-trash-can"></i>
                        </div>
                    </div>
                </div>
                {% endraw %}
            </div>
        </div>
        <div class="pb-5">
            <button id="logout" class="btn btn-secondary">ログアウト</button>
        </div>
        <div>
            <button id="userDelete" class="btn btn-dark">ユーザ削除</button>
        </div>
    </main>

    {% endblock %}