{% extends "layout.html" %}
{% block content %}
    
    <main role="main" class="inner cover">
        <h1 class="cover-heading">ユーザー新規登録</h1>
        <p class="lead pb-5">
            このフォームではユーザーを新規登録することができます。
        </p>
        <form id="userPostForm" class="pb-5">
            <div class="form-group">
                <label class="form-label" for="loginId">メールアドレス</label>
                <input class="form-control" id="inputLoginId" type="email" name="loginId" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="password">パスワード</label>
                <input class="form-control" id="inputPassword" type="password" name="password" required>
            </div>
            <input class="" type="submit" value="送信">
        </form>
        <p><a href="/user/login">既に登録済みの方はこちら</a></p>
        <p><a href="/user/confirm">認証コード送信はこちら</a></p>
    </main>

    {% endblock %}