{% extends "layout.html" %}
{% block content %}
    
    <main role="main" class="inner cover">
        <h1 class="cover-heading">{{ input_values.title }}</h1>
        <p class="lead pb-5">
            エピソード投稿フォームです。<br>
            ”{{ input_values.title }}”にまつわるエピソードを教えてください！
        </p>
        <div class="alert alert-danger" role="alert" id="loginAlert" style="display: none">
            エピソードを投稿するには、<a href="/user/login/adage/episode/post/{{ input_values.id }}/{{ input_values.title }}" class="alert-link">ログイン</a>が必要です。
        </div>
        <form id="episodePostForm" class="pb-5">
            <input type="text" value="{{ input_values.id }}" name="adageId" hidden>
            <div class="form-group">
                <label class="form-label" for="episode">エピソード: 5,000文字以下</label>
                <textarea rows="10" id="inputTextEpisode" class="form-control" name="episode" required maxlength="5000"></textarea>
            </div>
            <input id="postEpisodeButton" class="" type="submit" value="投稿">
        </form>
        <div class="alert alert-success" role="alert" id="thanksAlert" style="display: none">
            登録完了しました！共有ありがとうございます！
        </div>
    </main>

    {% endblock %}