{% extends "layout.html" %}
{% block content %}
    
    <main role="main" class="inner">
        <h1 class="cover-heading">あなたの座右の銘は？</h1>
        <p class="lead pb-5">
            簡潔であり美しい言葉には魂が宿ります。このページでは、それを口ずさみ、自分の座右の銘とし、さらには共有することができます。あなたの訪問に感謝します。
        </p>
        {% raw %}
        <div id="loadingSpinner" class="spinner-border text-light" role="status" style="display: inline-block;"></div>
        <div id="adageContainer" style="display: none">
            <transition-group name="list" tag="div">
                <div v-for="(adage, index) in adages" :key="adage.adageId" class="list-item pb-5">
                    <div :id="'adageId' + index" hidden>{{ adage.adageId }}</div>
                    <h2 class="cover-adage">
                        "{{ adage.title }}"
                    </h2>
                    <div class="d-flex justify-content-center pb-3">
                        <div :id="'LikesIcon' + index" v-on:click="increasePoints(adage, index)">
                            <i class="far fa-heart LikesIcon-fa-heart"></i>
                        </div>
                        <div :id="'likePoints' + index" class="px-3">
                            {{ adage.likePoints }}
                        </div>
                        <div :id="'twitterShareButton' + index">
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text='"One for all All for one"' data-size="large" data-hashtags="格言共有" data-show-count="false">Tweet</a>
                        </div>
                    </div>
                    <div class="adage-episode-container">
                        <div v-for="item in adage.episode" class="episode-block">
                            <p>{{ item.userName }} : {{ item.episode }}</p>
                        </div>
                        <button @click="addEpisode(adage.adageId, adage.title)" class="btn btn-dark">エピソードを投稿する</button>
                    </div>
                </div>
            </transition-group>
            <button @click="addAdage" class="btn btn-lg btn-secondary">タップしてください！</button>
        </div>
        {% endraw %}
    </main>

{% endblock %}
